@import "../variables";

.Attractor {
    z-index: 999999 !important;
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    &__details {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $white;

        padding: 0 0 100px 100px;
        width: 1100px;
        p {
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h1 {
            font-size: 80px;
            margin-bottom: 40px;
        }

        button {
            color: $white;
        }

    }

    &__video {
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
        }
    }

    &__image {

    }
}
