@import "../variables";

.Attractor {
    &__details {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $white;

        padding: 0 0 100px 100px;
        width: 1100px;

        p {
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h1 {
            font-size: 80px;
            margin-bottom: 40px;
        }

        button {
            color: $white;
        }

    }
}
