@import "../variables";

.MenuPips {
    //position: absolute;
    //bottom: 40px;
    //left: 0;
    //right: 0;
    //text-align: center;

    &__Button {
        border: 3px solid $red;
        background-color: $white;
        width: 30px;
        height: 30px;

        position: relative;

        &:not(:first-child) {
            width: 50px;
        }

        overflow: hidden;

        text-indent: 999px;
        white-space: nowrap;

        &:not(:first-of-type) {
            margin-left: 25px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            top: 0;
            left: -100%;
            transition: left 350ms ease;
        }
        /*
        &--right {
            &:after {
                left: -100%;
                width: 0;
            }
        }
        */
        /*
        &--left {
            &:after {
                //left: 100%;
                transform: rotate(180deg);
                width: 0;
            }
        }
        */

        &--active {
            &:after {
                left: 0;
                background-color: $red;
            }
        }

        &--exiting {
            &:after {
                left: 100%;
                background-color: $red;
            }
        }

        &--left {
            &:after {
                background-color: white;
                left: 100%;
            }
        }

        &--left#{&}--active {
            &:after {
                background-color: $red;
                left: 0;
            }
        }

        &--left#{&}--exiting {
            &:after {
                background-color: $red;
                left: -100%;
            }
        }
    }

    &--vertical {
        left: auto;
        right: 40px;
        width: 30px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    &--vertical &__Button {
        &:not(:first-of-type) {
            margin-left: 0;
            margin-top: 40px;
        }
    }

}
