@import "../variables";

.MenuPips {
    //position: absolute;
    //bottom: 40px;
    //left: 0;
    //right: 0;
    //text-align: center;

    &__Button {
        border: 3px solid $red;
        background-color: $white;
        width: 30px;
        height: 30px;

        &:not(:first-child) {
            width: 50px;
        }

        overflow: hidden;

        text-indent: 999px;
        white-space: nowrap;

        &:not(:first-of-type) {
            margin-left: 25px;
        }

        &--active {
            background-color: $red;
        }

    }

    &--vertical {
        left: auto;
        right: 40px;
        width: 30px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    &--vertical &__Button {
        &:not(:first-of-type) {
            margin-left: 0;
            margin-top: 40px;
        }
    }

}
