.Menu {

    padding: 140px 0;
    height: 100%;

    position: relative;

    &__Container {

        overflow: hidden;
        white-space: nowrap;

        display: flex;
        height: 800px;
        padding: 0 100px;

        &::-webkit-scrollbar {
            display: none;
        }
    }


    ul {

        margin-top: 0;

        li {
            //display: block;
            //background-color: green;

            margin-right: 20px;

        }
    }

}


