@import "../variables";
@import "portrait/components/Menu";
.MenuNav {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;

    &__Button {

        //background: url("../../images/arrow.svg") $red no-repeat center center;
        background-color: white;
        color: $red;

        &--Prev {
            margin-right: 40px;
        }

        &--Next {
            margin-left: 40px;
            transform: rotate(180deg) !important;
            &:active {
                transform: rotate(180deg) scale(1.2) !important;
            }
        }

    }
}
