@import "../variables";

.MenuPips {
    //position: absolute;
    //bottom: 40px;
    //left: 0;
    //right: 0;
    //text-align: center;
    position: relative;

    .MenuPipsContainer {
        display: flex;
    }

    .spacer {
        width: 25px;
        height: 30px;
        background: $white;
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-indent: 999px;
        white-space: nowrap;
    }

    .MenuPipHighlighter {
        display: block;
        content: "";
        background: $red;
        width: 50px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s;
    }

    &__Button {
        border: 0;
        background-color: transparent;

        width: 30px;
        height: 30px;

        position: relative;

        &:not(:first-child) {
            width: 50px;
        }

        overflow: hidden;

        text-indent: 999px;
        white-space: nowrap;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: 3px solid $red;
            top: 0;
            left: 0;
            transition: left 350ms ease;
            box-sizing: border-box;
        }
    }

    &--vertical {
        left: auto;
        right: 40px;
        width: 30px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    &--vertical &__Button {
        &:not(:first-of-type) {
            margin-left: 0;
            margin-top: 40px;
        }
    }

}