@import "../variables";
.zoomableWrapper {
    width:100%;
    height:100%;
    .thumbContainer {
        background:#000;
        position: absolute;
        z-index:10;
        transition: all 0.5s;
        overflow: hidden;
        position:absolute;
        .imgThumb {
            background-size:cover;
            background-position: center center;
            height:100%;
            width:100%;
            transition: opacity 0.6s, transform 0.8s;
            opacity: 1;
            will-change: transform;
            transform-origin: 50% 50%;
            transition-delay: 0.5s;
        }
        img {
            opacity: 1;
            transition: opacity 1s;
        }
        &.fadeInFull {
            //width:100% !important;
            img {
                opacity:0;
                width: 150% !important;
            }
            .imgThumb {
                opacity: 0;
                // transform: scale(2);
            }
        }
    }

    .Button {

        //width: 80px;
        //height: 80px;
        background-color: $black;
        background-repeat: no-repeat;
        background-position: center center;

        &__ZoomButton {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 9991;
            font-size: 2em;
            transition: all $transitionTime-showContent ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.PageTextImage .ImageContainer {
    transition: all 1s;
}
.PageTextImage--imageFull {
    .thumbContainer {
        width:100%;
    }
    .imgThumb {
        transition-delay: 0s !important;
    }
    &.PageTextImage--left {
        .ContentContainer {
            transition-delay: 0.4s;
            transform: translateX(100%);
        }
    }
    &.PageTextImage--right {
        .ContentContainer {
            transition-delay: 0.4s;
            transform: translateX(-100%);
        }
    }
}
.PageTextImage--imageFull.PageTextImage--right {
    .thumbContainer {
        left:0%;
        position: absolute;
        transition: left 1s;
        width:100% !important;
        .imgThumb {
            left:0%;
            position:absolute;
            transition-delay: 0s;
            transform-origin: 0% 50%;
        }
    }
}

.ZoomableImage {

    &.zoomingOut--true {
        .ZoomControls {
            transform: translateY(100px);
            transition: all 0.5s;
            transition-delay: 0.3s;
        }
    }

    position: absolute;
    left:0;
    top:0;

    width: 100%;
    height: 100%;

    
    /*
    img {
        width: 100%;
        min-height: 100%;
        //height: 100%;
    }
    */

    .imageContainer {
        transition: none;
    }

    &.ZoomableImage--zoomedIn {
        .imageContainer {
            transform: scale(1) !important;
        }
    }

    img {
        //transform-origin: top left;
        //position: absolute;
        //top: 50%;
        //transform: translateY(-50%);
        //left: 50%;
        //transition: margin-right $transitionTime-showContent ease, margin-left $transitionTime-showContent ease;
        .ZoomableImage--zoomedIn & {
            //transition: all 0.5s ease;
        }
    }

    & .Button {

        //width: 80px;
        //height: 80px;
        background-color: $black;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__ZoomButton {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9991;
        font-size: 2em;
        transition: all $transitionTime-showContent ease;

        .PageImage & {
            
        }
    }

    &--zoomedOut {
        /*
        img {
            width: 100%;
            min-height: 100%;
            height: 100%;
        }

        */
        .ZoomableImage__ZoomButton {
            //background-image: url("../../images/enlarge-img.svg");
        }
    }

    &--zoomedIn {

        overflow: hidden;
        z-index: 999;

        &::-webkit-scrollbar {
            display: none;
        }
        /*
        img {
            width: auto;
            min-height: 0;
            height: auto;
        }
        */

        .ZoomableImage__ZoomButton {
            //right: 0;
            left: 0;
            //background-image: url("../../images/close-img.svg");
        }
    }

    &__ZoomControls {

    }



    &__Debug {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 400px;
        height: 300px;
        //opacity: 0.4;
    }

    &--zoomedIn &__Debug {
        //display: block;
    }

    &--zoomedIn {
        .innerContainer {
            opacity:1 !important;
            position:absolute !important;
            left:0;
            top:0;
            width:100%;
            height:100%;
            .imgFull {
                transition-delay: 0.8s !important;
                opacity:1 !important;
            }
        }
    }

    .thumbContainer {
        background: #000;
        position:absolute;
    }

    .innerContainer {
        background: #000;
        width:100%;
        height:100%;
        position: absolute;
        opacity:0;
        transition: all 0.5s;
        &.fadeOutFull {
            opacity: 0 !important;
            transition: opacity 0.5s;
            transition-delay: 0.5s !important;
            .imgFull {
                opacity: 0 !important;
                transition-delay: 0s !important;
            }
        }
        img {
            transition: opacity 0.5s;
            z-index:2;
        }
        .imgFull {
            opacity:0;
        }
    }

}
/*
.NewZoomableImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }

    &__Debug {
        position: absolute;
        //display: none;
        top: 0;
        left: 0;
        width: 350px;
        height: 250px;
    }
}
*/
