@import "../variables";

.ZoomableImage {

    position: relative;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: $imageBackground;
    /*
    img {
        width: 100%;
        min-height: 100%;
        //height: 100%;
    }
    */

    .imageContainer {
        transition: all 0.5s;
    }

    &.ZoomableImage--zoomedIn {
        .imageContainer {
            transform: scale(1) !important;
        }
    }

    img {
        //transform-origin: top left;
        //position: absolute;
        //top: 50%;
        //transform: translateY(-50%);
        //left: 50%;
        //transition: margin-right $transitionTime-showContent ease, margin-left $transitionTime-showContent ease;
        .ZoomableImage--zoomedIn & {
            //transition: all 0.5s ease;
        }
    }

    & .Button {

        //width: 80px;
        //height: 80px;
        background-color: $black;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__ZoomButton {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 500;

        transition: left $transitionTime-showContent ease;

        .PageImage & {
            left: 650px;
        }
    }

    &--zoomedOut {
        /*
        img {
            width: 100%;
            min-height: 100%;
            height: 100%;
        }

        */
        .ZoomableImage__ZoomButton {
            //background-image: url("../../images/enlarge-img.svg");
        }
    }

    &--zoomedIn {

        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
        /*
        img {
            width: auto;
            min-height: 0;
            height: auto;
        }
        */

        .ZoomableImage__ZoomButton {
            //right: 0;
            left: 0;
            //background-image: url("../../images/close-img.svg");
        }
    }

    &__ZoomControls {

    }



    &__Debug {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 400px;
        height: 300px;
        //opacity: 0.4;
    }

    &--zoomedIn &__Debug {
        //display: block;
    }

    .innerContainer {
        width:100%;
        height:100%;
        position:relative;
        overflow:hidden;
        img {
            transition: all 0.5s;
        }
    }

}
/*
.NewZoomableImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }

    &__Debug {
        position: absolute;
        //display: none;
        top: 0;
        left: 0;
        width: 350px;
        height: 250px;
    }
}
*/
