# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: rhinogram/node-awscli

definitions:
  setup: &setup
    name: Setup and install
    image: node:8
    caches:
      - node
    script:
      - yarn
    artifacts:
      - node_modules/**
  tests: &tests
    name: Running tests
    image: node:8
    script:
      - yarn test
  build: &build
    name: Build
    image: node:8
    script:
      - yarn build
    artifacts:
      - build/**
  package: &package
    name: Package
    image: atlassian/pipelines-awscli
    script:
      - cd build
      - VERSION=$BITBUCKET_BUILD_NUMBER
      - tar -zcvf ../kiosk-interface-$VERSION.tar.gz .
      - echo "Copy to S3"
      - aws s3 cp ../kiosk-interface-$VERSION.tar.gz s3://$S3_BUCKET/

pipelines:
  branches:
    develop:
    - step: *setup
    - step: *tests
    - step: *build
    - step: *package

