@import "../_variables.scss";
@import "Page";

.PageImage {
    .ImageContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        /*
        img {
            width: 100%;
            min-height: 100%;
            //height: 100%;
        }
        */

        & .Button {

            width: 80px;
            height: 80px;
            background-color: $red;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &__ZoomButton {
            position: absolute;
            right:0;
            bottom: 0;


        }

        &--zoomedOut {

            img {
                width: 100%;
                min-height: 100%;
                height: 100%;
            }

            .ImageContainer__ZoomButton {
                background-image: url("../../images/enlarge-img.svg");
            }
        }

        &--zoomedIn {

            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
            /*
            img {
                width: auto;
                min-height: 0;
                height: auto;
            }
            */

            .ImageContainer__ZoomButton {
                background-image: url("../../images/close-img.svg");
            }
        }

        &__ZoomControls {
            position: absolute;
            left: 0;
            bottom: 0;
            .Button {
                &:not(:first-child) {
                    margin-left: 2px;
                }
            }
        }

        &__ZoomInButton {
            background-image: url("../../images/zoom-in.svg");
        }

        &__ZoomOutButton {
            background-image: url("../../images/zoom-out.svg");
        }

    }

    .ContentContainer {
        position: absolute;
        width: 650px;
        left: 0;
        bottom: 0;
        background: $pageBackground;

        transition: left 350ms ease-out;
        &--zoomedOut {

        }

        &--zoomedIn {
            left: -650px;
        }

    }

    .ImageCaption {
        margin-top: 80px;
        text-align: right;
    }
}
