@import "../_variables.scss";
@import "Page";

.PageTextImage {

    display: flex;
    flex: 0 0 100%;

    .ImageContainer {
        width: 50%;
        overflow: hidden;
        //transition: width 250ms ease-out;
    }

    .ContentContainer {
        width: 50%;
        position: relative;
        padding-top: 130px;
        background: $pageBackground;
        right: 0;

        //transition: left 250ms ease-out, right 250ms ease-out;
    }

    .ImageCaption {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 80px;
        font-size: 22px;
        //flex: 0 0 auto;

    }

    &--left {
        .ContentContainer {
            right: 0;
            left: auto;
        }
    }

    &--right {
        .ImageContainer {
            order: 1;
        }

        .ContentContainer {
            order: 0;
            right: auto;
            left: 0;
        }

        .ImageCaption {
            left: auto;
            right: 80px;
            text-align: right;
        }
    }

    &--imageFull {
        .ImageContainer {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &--left.PageTextImage--imageFull {
        .ContentContainer {
            right: -100%;
        }
    }

    &--right.PageTextImage--imageFull {
        .ContentContainer {
            left: -100%;
        }
    }

}
