@import "../_variables.scss";
@import "Page";

.PageTitle {
    img {
        //osition: absolute;
        width: 100%;
        height: 100%;
    }

    &__Content {
        position: absolute;
        bottom: 100px;
        left: 70px;
        width: 1060px;
        color: white;
        h1 {
            font-size: 86px;
        }
    }
}
