@import "variables";

@font-face {
    font-family: 'smgblack';
    src: url('../fonts/smg-black-webfont.woff2') format('woff2'),
    url('../fonts/smg-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgbold';
    src: url('../fonts/smg-bold-webfont.woff2') format('woff2'),
    url('../fonts/smg-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgbold_italic';
    src: url('../fonts/smg-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/smg-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smghair';
    src: url('../fonts/smg-hair-webfont.woff2') format('woff2'),
    url('../fonts/smg-hair-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smghair_italic';
    src: url('../fonts/smg-hairitalic-webfont.woff2') format('woff2'),
    url('../fonts/smg-hairitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgitalic';
    src: url('../fonts/smg-italic-webfont.woff2') format('woff2'),
    url('../fonts/smg-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smglight';
    src: url('../fonts/smg-light-webfont.woff2') format('woff2'),
    url('../fonts/smg-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgthin_italic';
    src: url('../fonts/smg-thinitalic-webfont.woff2') format('woff2'),
    url('../fonts/smg-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgthin';
    src: url('../fonts/smg-thin-webfont.woff2') format('woff2'),
    url('../fonts/smg-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgregular';
    src: url('../fonts/smg-regular-webfont.woff2') format('woff2'),
    url('../fonts/smg-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'smgmedium_italic';
    src: url('../fonts/smg-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/smg-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smgmedium';
    src: url('../fonts/smg-medium-webfont.woff2') format('woff2'),
    url('../fonts/smg-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smglight_italic';
    src: url('../fonts/smg-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/smg-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?attg62');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?attg62#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?attg62') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?attg62') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?attg62##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-arrow {
    &:before {
        content: $icon-arrow;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-plus {
    &:before {
        content: $icon-plus;
    }
}
.icon-enlarge-img {
    &:before {
        content: $icon-enlarge-img;
    }
}
.icon-reduce-img {
    &:before {
        content: $icon-reduce-img;
    }
}
.icon-play {
    &:before {
        content: $icon-play;
    }
}
.icon-pause {
    &:before {
        content: $icon-pause;
    }
}

