@import "variables";


* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

/*
body, #root {
    width: 1920px;
    height: 1080px;
    &.portrait {
        width:1080px;
        height:1920px;
    }
}*/

:focus {
    outline: 0;
}

h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    //user-drag: none;
    //pointer-events: none;
    -webkit-user-drag: none;
}

a {
    -webkit-user-drag: none;
}

.portrait {
    .grow-enter, .grow-exit-active {
        .Article__Container {
            transform: scale(0.63) translateX(0px) translateY(0px);
        }
    }

    .grow-enter {
        .NavBar {
            transform: translateY(100px);
            transition-delay: 0.7s !important;
        }
    }

    .grow-enter.grow-enter-active {
        .NavBar {
            transform: translateY(0px);
            transition: all 0.3s;
        }
    }

    .grow-exit {
        .NavBar {
            transform: translateY(0px);
            transition: all 0.3s;
        }
    }

    .grow-exit-active {
        .NavBar {
            transition: all 0.3s;
            transform: translateY(100px);
            z-index:9;
        }
    }
}

.grow-enter, .grow-exit {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.MenuItem__Video.MenuItem__Selected h2, .MenuItem__Mixed.MenuItem__Selected h2 {
    z-index: 99999;
}

.grow-enter-done {
    .MenuNav {
        transition: all 0.3s;
        transform: translateY(0);
    }
    .MenuItem__Selected {
        h2 {
            opacity:1;
            transition: all 0.5s;
            transform: translateY(0px);
            transition-delay: 0s !important;
        }
    }
}

.grow-enter {
    z-index:9;
    .Attractor {
        opacity:1;
        transition-delay: 1s !important;
    }
    
    .Article__Container {
        transform: scale(0.74) translateX(0px) translateY(-55px);
        z-index:9;
        .PageTitle__Content {
            transition: all 0.3s;
            transform: translateY(40px);
            transition-delay: 0.5s !important;
            opacity:0;
        }
    }
    .NavBar {
        transform: translateX(100px);
        transition-delay: 0.7s !important;
    }
    .MenuItem__Selected {
        h2 {
            opacity:0;
            transition: all 0.5s;
            transform: translateY(30px);
            transition-delay: 0.5s !important;
        }
    }
    .MenuNav {
        transition: none 0.3s;
        transform: translateY(200px);
    }
}

.MenuNav {
    transition: all 0.3s;
    transition-timing-function: ease-in-out !important;
}

@keyframes fadeInUp {
    0% {
        opacity:0;
        transition: all 0.5s;
        transform: translateY(30px);
    }
    100% {
        opacity:1;
        transition: all 0.5s;
        transform: translateY(0px);
    }
}

.Article__Container {
    transition-delay: 0.3s !important;
    transition-duration: 0.3s;
}


.grow-enter.grow-enter-active {
    z-index:9;
    .Attractor {
        opacity:0;
        transition-delay: 1s !important;
    }
    .Article__Container {
        transform: scale(1);
        transition: all 0.3s;
        z-index:9;
        .PageTitle__Content {
            transition: all 0.3s;
            transform: translateY(0px);
            opacity:1;
        }
    }
    .NavBar {
        transform: translateX(0px);
        transition: all 0.3s;
    }
    .MenuItem__Selected {
        h2 {
            opacity:0;
            transition: all 0.3s;
            transform: translateY(30px);
            z-index:10;
            transition-delay: 0.5s !important;
        }
    }
}

.grow-exit {
    &.Attractor {
        opacity:1;
        transition: all 1s;
        z-index:20;
        transition-delay: 0.4s;
        .Attractor__details {
            transition: all 0.5s;
            opacity:1;
        }
    }
    transition: all 0.3s;
    .Article__Container {
        transition: all 0.3s;
        transform: scale(1);
        
    }
    .NavBar {
        transition: all 0.3s;
        transform: translateX(0px);
    }
    .MenuItem__Selected {
        h2 {
            transition-delay: 0s !important;
            opacity:0;
            transition: all 0.5s;
            transform: translateY(30px);
        }
    }
    .MenuNav {
        transform: translateY(200px);
    }
}

.grow-exit-active {

    &.Attractor {
        opacity:0;
        transition: all 1s;
        z-index:20;
        transition-delay: 0.4s;
        .Attractor__details {
            transition: all 0.5s;
            opacity:0;
        }
    }

    .Menu {
        z-index:8;
    }
    .Article__Container {
        transition: all 0.5s;
        transform: scale(0.74) translateX(0px) translateY(-55px);
        opacity:1;
        z-index:9;
        .PageTitle__Content {
            transition: all 0.3s;
            transform: translateY(40px);
            opacity:0;
        }
        
    }
    .NavBar {
        transition: all 0.3s;
        transform: translateX(100px);
        z-index:9;
    }
    .MenuItem__Selected {
        h2 {
            opacity:0;
            transition: all 0.5s;
            transform: translateY(30px);
        }
    }
    .MenuNav {
        transform: translateY(200px);
    }
}


.fade-enter, .fade-exit {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

div.transition-group {
    position: relative;
    width: 100%;
    height: 100%;
}
/*
section.route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
*/
