@import "variables";


* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

html, body, #root {
    width: 1920px;
    height: 1080px;
}

:focus {
    outline: 0;
}

h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    //user-drag: none;
    //pointer-events: none;
    -webkit-user-drag: none;
}

a {
    -webkit-user-drag: none;
}

.Button {
    background-color: $red;
    color: $white;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}


.fade-enter, .fade-exit {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

div.transition-group {
    position: relative;
    width: 100%;
    height: 100%;
}
/*
section.route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
*/
