
@import "vendor/normalize.css";
@import "fonts";

@import "variables";
@import "global";

body, html {
    margin: 0;
    font-family: $fontLight;
}

h1 {
    font-family: $fontLight;
}

.App {
    text-align: left;
    width: 1920px;
    height: 1080px;
    background-color: $appBackground;
    overflow: hidden;
}

.DebugPanel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
*/
