.Article {
    //position: absolute;
    width: 100%;
    height: 100%;

    //overflow: hidden;
    &__Container {
        display: flex;
        flex-basis: auto;
        flex-flow: column;
        position: relative;

        height: 100%;
        overflow: hidden;
    }

}

