.Article {
    //position: absolute;
    width: 100%;
    height: 100%;

    //overflow: hidden;
    &__Container {
        display: flex;
        flex-basis: auto;
        flex-flow: column;
        position: relative;

        height: 100%;
        overflow: hidden;
    }

    .PageNav {
        position: absolute;
        width: 100px;
        height: 100%;

        top: 0;
        right: 0;

        transition: transform 350ms ease-out;

        &--hidden {
            transform: translateX(100%);
        }
    }
}
