@import "variables";

.MenuPips {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;

    &__Button {
        border: 1px solid $black;
        background-color: $white;
        width: 30px;
        height: 30px;

        overflow: hidden;

        text-indent: 999px;
        white-space: nowrap;

        margin-left: 30px;

        &--active {
            background-color: $black;
        }

    }
}
