@import 'variables';

.Page {
    //position: absolute;
    //top: 0;
    //left: 0;
    position: relative;
    background: $pageBackground;

    width: 100%;
    height: 1080px;

    flex: 0 0 auto;
}

.PageVideo {
    video {
        width: 100%;
        height: 100%;
    }
}

.ContentContainer {
    padding: 100px 80px;
    font-family: $fontLight;

    h2 {
        color: $red;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    p {
        font-size: 26px;
        line-height: 36px;
    }
}

.ImageCaption {
    h3 {
        text-transform: none;
        margin-bottom: 8px;
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

.PageTextImage {

    display: flex;
    flex: 0 0 100%;

    .ImageContainer {
        width: 50%;
        overflow: hidden;
    }

    .ContentContainer {
        width: 50%;
        position: relative;
        padding-top: 130px;
    }

    .ImageCaption {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 80px;
        font-size: 22px;
        //flex: 0 0 auto;

    }

    &--left {

    }

    &--right {
        .ImageContainer {
            order: 1;
        }

        .ContentContainer {
            order: 0;
        }

        .ImageCaption {
            left: auto;
            right: 80px;
            text-align: right;
        }
    }

}

.PageImage {
    .ImageContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
            //height: 100%;
        }

        &__ZoomButton {
            position: absolute;
            right:0;
            bottom: 0;
            width: 80px;
            height: 80px;
            background-color: $red;
            background-repeat: no-repeat;
            background-position: center center;


        }

        &--zoomedOut {
            img {
                width: 100%;
                min-height: 100%;
                height: 100%;
            }
            .ImageContainer__ZoomButton {
                background-image: url("/images/enlarge-img.svg");
            }
        }

        &--zoomedIn {

            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            img {
                width: auto;
                min-height: 0;
                height: auto;
            }

            .ImageContainer__ZoomButton {
                background-image: url("/images/close-img.svg");
            }
        }

    }

    .ContentContainer {
        position: absolute;
        width: 650px;
        left: 0;
        bottom: 0;
        background: $pageBackground;

        transition: left 350ms ease-out;
        &--zoomedOut {

        }

        &--zoomedIn {
            left: -650px;
        }

    }

    .ImageCaption {
        margin-top: 80px;
        text-align: right;
    }
}

.PageTitle {
    img {
        //osition: absolute;
        width: 100%;
        height: 100%;
    }

    &__Content {
        position: absolute;
        bottom: 100px;
        left: 70px;
        width: 1060px;
        color: white;
        h1 {
            font-size: 86px;
        }
    }
}


