@import '../../variables';

.NavBar {
    background-color: $red;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;

    display: flex;
    flex-direction: column;

    transition: right $transitionTime-showContent ease;

    //justify-content: flex-end;

    &--hidden {
        right: -100px;
    }


    /*
    > * {
        flex: 0 0 auto;
        .Button {
            top: 50%;
            position: absolute;
        }
    }
    */

    /*
    > *:first-child {
        flex: 1 0 auto;
        //justify-content: center;
        //align-content: center;
        //align-items: center;
        //background-color: red;
    }
    */
    /*
    &--noNav {
        justify-content: flex-end;
        > *:first-child {
            flex: 0 0 auto;
        }
    }
    */

    .NavButtonHome {
        flex: 1 0 auto;
        position: relative;
        .Button {
            top: 50%;
            position: absolute;
            font-size: 36px;
        }
    }

    .NavButtons {
        flex: 0 0 auto;
    }

    &--noHome {
        justify-content: flex-end;
        > *:first-child {
            flex: 0 0 auto;
        }
    }

}
