@import '../../variables';

.NavButton {
    height: 100px;
    //background-color: $red;
    font-size: 30px;
    //color: $white;
    font-family: $fontMedium;
    text-transform: uppercase;
    padding: 0 20px;

    outline: none;
    border: none;
    
}

.NavButtonHome {
    .NavButton {
        background: transparent;
        &:active {
            transform: scale(1.2);
        }
    }
}


.NavButtons {

    //position: absolute;
    //top: 0;
    //right: 0;
    //z-index: 999;
    .Button {
        background: transparent;
    }

    &__Prev, &__Next {
        width: 100px;
        line-height: 27px;
    }

    &__Next {
        transform: rotate(180deg);
        margin-left: 2px;
    }

    &--horiziontal {
        position: absolute;
        top: 0;
        right: 0;
    }

    &:active {

    }

    &--vertical {
        width: 100px;
        .NavButtons__Prev {
            transform: rotate(90deg);
            background:transparent;
            &:active {
                    transform: rotate(90deg) scale(1.2);
            }

        }
        .NavButtons__Next {
            transform: rotate(270deg);
            margin-left: 0;
            margin-top: 2px;
            background:transparent;
            &:active {
                transform: rotate(270deg) scale(1.2);
            }
        }
    }

}
