@import '../../variables';

.NavButton {
    height: 100px;
    //background-color: $red;
    font-size: 30px;
    //color: $white;
    font-family: $fontMedium;
    text-transform: uppercase;
    padding: 0 20px;

    outline: none;
    border: none;

}




.NavButtons {

    //position: absolute;
    //top: 0;
    //right: 0;
    //z-index: 999;
    .Button {

    }

    &__Prev, &__Next {
        width: 100px;
        line-height: 27px;
    }

    &__Next {
        transform: rotate(180deg);
        margin-left: 2px;
    }

    &--horiziontal {
        position: absolute;
        top: 0;
        right: 0;
    }

    &--vertical {
        width: 100px;
        .NavButtons__Prev {
            transform: rotate(90deg);

        }
        .NavButtons__Next {
            transform: rotate(270deg);
            margin-left: 0;
            margin-top: 2px;

        }
    }

}
