@import "../../variables";

.MenuItem {
    //height: 800px;

    .buttonsContainer {
        width:100%;
        height:100%;
    }

    button {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        text-align: left;
        position: absolute;
        &.playButton {
            content: " ";
            display: block;
            width: 104px;
            height: 104px;
            background: url('../../../images/play.svg') no-repeat;
            background-size: contain;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0,0,0,0.3);
        }
    }

    flex: 0 0 auto;

    a {
        text-decoration: none;
        // width: 100%;
        // height: 100%;
        // display: block;
    }


    &__Title {
        height:800px;
        width: 800px;
        flex: 0 0 auto;
        background-color: $pageBackground;
        padding: 70px;
        white-space: normal;

        display: flex;
        //align-items: center;
        justify-content: center;
        flex-flow: column;


        p {
            font-family: $fontLight;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
            //align-self: flex-start;
        }

        h1 {
            font-family: $fontLight;
            font-size: 80px;
            text-transform: uppercase;
            color: $red;
            //align-self: flex-start;
        }

    }

    &__Video, &__Mixed {

        width: 1422px;
        position: relative;

        img {
            position: absolute;
            width: 1422px;
            top: 0;
            left: 0;
        }

        h2 {
            font-family: $fontLight;
            color: $white;
            position: absolute;
            font-size: 46px;
            left: 50px;
            bottom: 60px;
            width: 660px;
            white-space: normal;
            font-weight:100;
        }
    }

}
