.portrait {
    .Menu {
        padding: 240px 0;
        padding-bottom:0;
    }
    .Menu__Container {
        height: 800px;
    }

    .MenuItem__Video, .MenuItem__Mixed {
        width:500px;
    }

    .MenuItem__Video img, .MenuItem__Mixed img {
        width:100%;
    }

    .MenuItem__Title {
        height: 800px;
        width:500px;
    }

    .MenuPips__Button {
        height:51px;
    }

    .MenuPips__Button:not(:first-child) {
        width: 30px;
    }

    .MenuPips .spacer {
        width:35px;
        height:52px;
    }

    .MenuPips .MenuPipHighlighter {
        height:51px;
        width:30px;
    }

    .MenuItem__Video h2, .MenuItem__Mixed h2 {
        width: 400px;
        font-size:40px;
    }

    li.MenuItem.hidden {
        width: 500px;
    }
}