.portrait {
    .Menu {
        padding: 240px 0;
        padding-bottom:0;
    }
    .Menu__Container {
        height: 1460px;
    }

    .MenuItem__Video, .MenuItem__Mixed {
        width:800px;
    }

    .MenuItem__Video img, .MenuItem__Mixed img {
        width:100%;
    }

    .MenuItem__Title {
        height: 1600px;
    }

    .MenuPips__Button {
        height:51px;
    }

    .MenuPips__Button:not(:first-child) {
        width: 30px;
    }

    .MenuPips .spacer {
        width:35px;
        height:52px;
    }

    .MenuPips .MenuPipHighlighter {
        height:51px;
        width:30px;
    }
}