.portrait {
    .NavBar {
        width: 100%;
        height: 100px;
        bottom: 0;
        top: 100%;
        left: 0;
        margin-top: -100px;
        flex-direction: row;
        transition: all 0.2s;
    }

    .NavBar .NavButtonHome {
        display:flex;
        justify-content: center;
        align-items: center;
        .Button {
            top:0;
            position:relative;
            padding-left: 226px;
        }
    }

    .NavBar .NavButtons{
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        &:before {
            display: none;
        }
    }

    .Article {
        padding-right:0;
        
        &.Article--fullScreen {
            padding-bottom:0;
        }
    }

     .NavBar.NavBar--hidden {
        transform: translateY(100px);
    }

    .PageTextImage--imageFull .ContentContainer {
        left:0;
        top:100%;
    }

    .PageTextImage--imageFull .ImageContainer {
        height:100%;
        position:absolute;
    }

    .ContentContainer {
        transition: all 0.5s;
        top:0;
    }

    .ZoomControls {
        padding: 20px 250px;
    }
}