.portrait {
    .NavBar {
        width: 100%;
        height: 100px;
        bottom: 0;
        top: 100%;
        left: 0;
        margin-top: -100px;
        flex-direction: row;
    }

    .NavBar .NavButtonHome {
        display:flex;
        justify-content: center;
        align-items: center;
        .Button {
            top:0;
            position:relative;
        }
    }

    .NavBar .NavButtons{
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
    }

    .Article {
        padding-right:0;
        padding-bottom:100px;
        &.Article--fullScreen {
            padding-bottom:0;
        }
    }
}