.portrait {
    .Page {
        height:$portraitHeight;
        width: $portraitWidth;
        padding-bottom:0px;
    }

    .MenuNav {
        margin-top:60px;
    }

    .Page.PageVideo {
        width:800px;
    }

    .ZoomableImage.ZoomableImage--zoomedIn .imageContainer {
        width: $portraitWidth !important;
        height: $portraitHeight !important;
    }

    .PageTextImage--right .ImageContainer {
        left:0;
    }

    .Attractor {
        width:100%;
        height:100%;
    }

    .PageTitle__Content {
        width: 700px;
    }

    h1 {
        font-size: 50px;
    }   

    .Attractor__details {
        h1 {
            font-size: 50px;
            max-width: 620px;
            margin-bottom: 50px;
        }
    }

    .Button {
        font-size:36px;
    }

    .ContentContainer {
        padding:50px;
    }

    .PageTextImage .ImageCaption {
        bottom:0;
        left:50px;
        margin-top:-230px;
        top:100%;
        height:68px;
        right:auto;
    }

    .PageTextVideo {
        button {
            &.poster {
                height: 100%;
                .play {
                    content: " ";
                    display: block;
                    width: 140px;
                    height: 140px;
                    background: url('../../../images/play.svg') no-repeat;
                    background-size: contain;
                    position: relative;
                    left: 50%;
                    top: 50%;
                    margin-left:-70px;
                    background-color: rgba(0,0,0,0.5);
                    z-index:20;
                }
                &:after {
                    content: ' ';
                    margin-left:0;
                    margin-right:0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background:
                        linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.74) 90%),
                        radial-gradient(circle at bottom left, #000000 0%, rgba(0,0,0,0.00) 60%),
                        //linear-gradient(-180deg, white 0%, white 100%);
                }
            }
        }
        .video-react {
            height:590px;
        }
    }
}