.portrait {
    .Page {
        height:$portraitHeight;
        padding-bottom:100px;
    }

    .ZoomableImage.ZoomableImage--zoomedIn .imageContainer {
        width: $portraitWidth !important;
        height: $portraitHeight !important;
    }

    .PageTextImage--right .ImageContainer {
        left:0;
    }

    .Attractor {
        width:100%;
        height:100%;
    }

    .PageTitle__Content {
        width: 600px;
    }

    h1 {
        font-size: 50px;
    }   

    .Attractor__details {
        h1 {
            font-size: 50px;
            max-width: 620px;
        }
    }

    .Button {
        font-size:36px;
    }

    .ContentContainer {
        padding:50px;
    }

    .PageTextImage .ImageCaption {
        bottom: 150px;
        left:50px;
    }
}