.portrait {
    .Page {
        height:$portraitHeight;
        padding-bottom:100px;
    }

    .ZoomableImage.ZoomableImage--zoomedIn .imageContainer {
        width: $portraitWidth !important;
        height: $portraitHeight !important;
    }

    .PageTextImage--right .ImageContainer {
        left:0;
    }

    .Attractor {
        width:100%;
        height:100%;
    }

    .PageTitle__Content {
        width: 700px;
    }
}