.portrait {
    .PageTextImage {
        .ImageContainer {
            height:100%;
            width:100%;
            position:relative;
            .thumbContainer {
                height:100% !important;
                transition: none;
                margin-left: 0px;
                left: 0 !important;
            }
            .imgThumb {
                transition: none;
                margin-left: 0 !important;
                left: 0 !important;
            }
        }
        .ContentContainer {
            height:690px;
            position:absolute !important;
            left:0;
            width:100%;
            top:590px;
            left:0;
            z-index:10;
            animation: portraitSlideInUP 1s ease-out 0s 1;
            padding-top:80px;
            padding-left:50px;
            padding-right:50px;
        }
    }
    .thumbContainer {
        position:absolute;
        right:0;
        left:100% !important;
        margin-left:-960px;
    }
    .zoomableWrapper {
        .Button {
            &.ZoomableImage__ZoomButton {
                display:none;
                top:50%;
                margin-top:-60px;
            }
        }
    }
    .ImageCaption {
        text-align: left !important;
    }
}

@keyframes portraitSlideInUP {
    0% {
        transform: translateY(30px);
        opacity:0;
    }
    55% {
        transform: translateY(30px);
        opacity:0;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}