.portrait {
    .PageTextImage {
        .ImageContainer {
            height:100%;
            width:100%;
            position:relative;
            .thumbContainer {
                height:100% !important;
            }
        }
        .ContentContainer {
            height:50%;
            position:absolute !important;
            left:0;
            width:100%;
            top:50%;
            left:0;
            z-index:10;
            animation: portraitSlideInUP 1s ease-out 0s 1;
        }
    }
    .zoomableWrapper {
        .Button {
            &.ZoomableImage__ZoomButton {
                display:none;
                top:50%;
                margin-top:-60px;
            }
        }
    }
}

@keyframes portraitSlideInUP {
    0% {
        transform: translateY(30px);
        opacity:0;
    }
    55% {
        transform: translateY(30px);
        opacity:0;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}