@import "../../variables";
@import "Page";

@keyframes sourceTextAnimation {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes sourceTextAnimationCopied {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes sourceTextShowAnimation {
    0% {
        opacity:0;
        visibility: hidden;
        height:0;
    }
    50% {
        visibility: hidden;
        height: 0;
        opacity:0;
    }
    51% {
        visibility: visible;
        height:auto;
        opacity:1;
    }
    90% {
        visibility: visible;
        height:auto;
        opacity:1;
    }
}

@keyframes sourceTextHideAnimation {
    0% {
        opacity:1;
        visibility: visible;
        height:auto;
    }
    50% {
        visibility: hidden;
        height: auto;
        opacity:0;
    }
    51% {
        height:0;
    }
    90% {
        visibility: hidden;
        height:0;
        opacity:0;
    }
}

@keyframes audioHideInitiallyFadeInAnimation {
    0% {
        opacity:0;
        margin-top:50px;
    }
    51% {
        opacity:0;
        margin-top:50px;
    }
    52% {
        opacity:1;
        margin-top:0px;
    }
    100% {
        opacity:1;
        margin-top:0px;
    }
}

@keyframes audioShowFadeInAnimation {
    0% {
        margin-top:0px;
    }
    51% {
        margin-top:0px;
    }
    52% {
        margin-top:50px;
    }
    100% {
        margin-top:50px;
    }
}

.sourceTextContainer {
    &.closed {
        animation: sourceTextAnimation 1s ease;
        .sourceText {
            animation: sourceTextHideAnimation 1s ease;
            visibility: hidden;
            height:0;
            opacity:0;
        }
        .audio {
            margin-top:0px;
            animation: audioHideInitiallyFadeInAnimation 1s ease;
        }
    }
    &.audioFadeIn {
        animation: sourceTextAnimationCopied 1s ease;
        .sourceText {
            animation: sourceTextShowAnimation 1s ease;
            visibility: visible;
            height:auto;
            opacity:1;
        }
        .audio {
            margin-top:50px;
            animation: audioShowFadeInAnimation 1s ease;
        }
    }
}

audio {
    padding: 0;
    margin: 0;
    border-radius:0;
    background:transparent;
    box-shadow:none;
    border:0;
    -webkit-appearance: none;
}

audio::-webkit-media-controls-panel {
    background: $corianBone;
    box-shadow: none;
    padding:0;
    margin:0;
    border-radius:0;
}

audio::-webkit-media-controls-play-button {}

audio::-webkit-media-controls-volume-slider {
    display: none;
}

audio::-webkit-media-controls-volume-slider-container {
    display:none;
}

audio::-webkit-media-controls-mute-button {
    display: none;
}

.perfectScrollButton {
    background-size:29px;
    background-position:center center;
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    background-color: transparent;
    position:absolute;
    right:0;
    margin-right:-22px;
    -webkit-appearance: none;
    border:0;
    box-shadow: none;
}

.perfectScrollUp {
    background-image: url('../../../images/Icons/Chevron.svg');
    margin-top:-70px;
}

.perfectScrollDown {
    background-image: url('../../../images/Icons/Chevron.svg');
    transform: rotate(180deg);
    margin-right:-24px;
    margin-top:20px;
}


.audioIcon {
    background: url("../../../images/Audio/Icons/Sound.svg") no-repeat;
    width:30px;
    height:33px;
    background-size:100%;
}

.seekBarProgress {
    width: 233px;
    min-width:233px;
    input[type=range] {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        margin-left: 0 !important;
        z-index: 99;
    }
    height:5px;
    background:rgba(0,0,0,0.2);
    margin-left:16px;
    position:relative;
    .bar {
        height:100%;
        background: rgba(0,0,0,1);
        position:absolute;
        left:0;
        top:0;
        transition:all 0.3s;
    }
}

.audio {
    margin-top:50px;
    button {
        transition: all 0.3s;
        &:active {
            transform: scale(1.2);
        }
        &.perfectScrollDown {
            &:active {
                transform: scale(1.2) rotate(180deg);
            }
        }
    }
    h3 {
        margin-bottom:40px;
        margin-top:0px;
        font-size:22px;
        text-transform: none;
    }

    &.transcript-open {
        h3 {
            margin-top:0;
        }
    }

    .controller {
        display:flex;
        align-items: center;
    }

    .transcript {
        display:block;
        transition: all 0.5s;
        margin-top: 50px;
        font-size: 22px;
        line-height: 32px;
        position:relative;
        .scrollbar-container {
            height: 550px;
            opacity:1;
            background: transparent;
            .content {
                padding-right:30px;
            }
            .ps__rail-y {
                opacity:1 !important;
                background:rgba(0,0,0,0.2);
                width:5px;
            }
            .ps__thumb-y {
                opacity:1;
                background: rgba(0,0,0,1);
                width:5px;
                right:0;
            }
            .scrollbar {
                background: #000;
            }
        }
    }

    .media {
        display:flex;
        align-items: center;
        .media-controls {
            display:flex;
            align-items: center;
            progress {
                display:none;
            }
            time {
                margin-left:16px;
                font-size:20px;
            }
            time:first-child {
                display:none;
            }
            input[type=range] {
                -webkit-appearance: none;
                background:transparent;
                margin-left:16px;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 1px solid #000000;
                height: 36px;
                width: 16px;
                border-radius: 3px;
                background: #ffffff;
                cursor: pointer;
                margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
              }
            input[type=range]::-ms-track {
                width: 100%;
                cursor: pointer;
              
                /* Hides the slider so custom styles can be added */
                background: transparent; 
                border-color: transparent;
                color: transparent;
              }
        }
    }

    .paused {
        .playPause {
            &:before {
                content: "\e90b";
            }
            
        }
    }

    .playPause {
        min-width:46px;
        width:46px;
        height:46px;
        text-indent:-999px;
        overflow:hidden;
        background-size:100%;
        border:0;
        -webkit-appearance: none;
        box-shadow:none;
        margin-left:16px;
        background: transparent;
        position:relative;
        &:before {
            text-indent: 0;
            content: "\e90a";
            font-family: '#{$icomoon-font-family}' !important;
            display:block;
            width:100%;
            height:100%;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position:absolute;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size:45px;
            top:0;
            left:0;
        }
        
    }

    .transcriptBtn {
        background: rgba(0,0,0,0.1);
        border:0;
        height:30px;
        margin-left:20px;
        font-size:20px;
        font-family: $fontMedium;
        &.open {
            background: rgba(0,0,0,1);
            color: #fff;
        }
    }
}

.portrait {
    .PageTextAudio {
        .ContentContainer {
            position: unset;
        }
        .ZoomableImage__ZoomButton {
            display:none;
        }

        .transcriptBtn {
            margin-left:0;
            &.open {
                margin-left:0;
            }
        }

        .audio {
            h3 {
                display:none;
            }
            .transcript {
                
                margin-top:20px;
                
                .scrollbar-container {
                    height: 300px;
                }
            }
            .media {
                position:unset;

                .audioIcon {
                    position:absolute;
                    margin-left:-75px;
                    width:151px;
                    height:181px;
                    left:50%;
                    top:25%;
                    margin-top: -550px;
                    background: url("../../../images/Audio/Portrait/Icons/SoundHero.svg") no-repeat;
                    background-size:100%;
                }

                .playPauseContainer {
                    position:absolute;
                    margin-left:-80px;
                    width:50px;
                    height:50px;
                    left:10%;
                    top:50%;
                    margin-top:-380px;
                    .playPause {
                        background: url("../../../images/Audio/Portrait/Buttons/SoundPause.svg") no-repeat;
                    }
                    &.paused {
                        .playPause {
                            background: url("../../../images/Audio/Portrait/Buttons/SoundPlay.svg") no-repeat;
                        }
                    }
                }

                .seekBarProgress {
                    position:absolute;
                    left:0;
                    width:100%;
                    top:50%;
                    margin-left:0;
                    height:8px;
                    margin-top:-320px;
                    background:#fff;
                    .bar {
                        background: $red;
                    }
                    input[type=range] {
                        height: 8px;
                    }
                }

                time {
                    position: absolute;
                    right:0;
                    top:50%;
                    margin-top:-360px;
                    font-size:1.5em;
                    margin-right:20px;
                    color:#fff;
                    text-shadow: 0px 0px 8px rgba(0,0,0,0.6);
                }
            }
        }
    }
}