@import "../../variables";
@import "Page";

audio {
    padding: 0;
    margin: 0;
    border-radius:0;
    background:transparent;
    box-shadow:none;
    border:0;
    -webkit-appearance: none;
}

audio::-webkit-media-controls-panel {
    background: $corianBone;
    box-shadow: none;
    padding:0;
    margin:0;
    border-radius:0;
}

audio::-webkit-media-controls-play-button {}

audio::-webkit-media-controls-volume-slider {
    display: none;
}

audio::-webkit-media-controls-volume-slider-container {
    display:none;
}

audio::-webkit-media-controls-mute-button {
    display: none;
}

.audioIcon {
    background: url("../../../images/Audio/Icons/Sound.svg") no-repeat;
    min-width:50px;
    width:50px;
    height:50px;
    background-size:cover;
}

.audioIcon {
    background: url("../../../images/Audio/Icons/Sound.svg") no-repeat;
    width:50px;
    height:50px;
    background-size:100%;
}

.audio {
    display:flex;
    align-items: center;
    .media {
        display:flex;
        align-items: center;
        .media-controls {
            display:flex;
            align-items: center;
            progress {
                display:none;
            }
            time {
                margin-left:16px;
            }
            time:first-child {
                display:none;
            }
            input[type=range] {
                -webkit-appearance: none;
                background:transparent;
                margin-left:16px;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 1px solid #000000;
                height: 36px;
                width: 16px;
                border-radius: 3px;
                background: #ffffff;
                cursor: pointer;
                margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
              }
            input[type=range]::-ms-track {
                width: 100%;
                cursor: pointer;
              
                /* Hides the slider so custom styles can be added */
                background: transparent; 
                border-color: transparent;
                color: transparent;
              }
        }
    }
    .playPause {
        background: url("../../../images/Audio/Buttons/SoundPlay.svg") no-repeat;
        min-width:46px;
        width:46px;
        height:45px;
        text-indent:-999px;
        overflow:hidden;
        background-size:100%;
        border:0;
        -webkit-appearance: none;
        box-shadow:none;
        margin-left:16px;
    }

    .transcriptBtn {
        background: rgba(0,0,0,0.1);
        border:0;
        height:20px;
        margin-left:20px;
    }
}