@import "../../variables";
@import "Page";

.PageImage {
    .ImageContainer {
        width: 100%;
        height: 100%;
        //overflow: hidden;
    }

    .thumbContainer {
        &.fadeInFull {
            opacity:0;
        }
    }

    .ContentContainer {
        position: absolute;
        width: 650px;
        top: 0;
        background: $pageBackground;
        z-index: 99999;
        transition: all 550ms ease-out;
        transform: translateX(0);
        padding-bottom:180px;
        min-height:650px;
        &--zoomedOut {
            transform: translateX(0);
        }

        &--zoomedIn {
            transform: translateX(-100%);
        }

        &--right {
            right:0;
            margin-right:100px;
        }

        &--left {
            left: 0;
        }

    }
    .ContentContainer--right {
        &.ContentContainer--zoomedIn {
            transform: translateX(120%);
            transition-delay: 0s;
        }
        .ImageCaption {
            text-align: left;
        }
    }

    .ContentContainer--left { 
        .ImageCaption {
            right: 80px;
        }
    }

    .ImageCaption {
        bottom:80px;
        position:absolute;
        text-align: right;
        h3 {
            margin-bottom:8px;
        }
    }
}
