@import "../../variables";
@import "Page";

.PageImage {
    .ImageContainer {
        width: 100%;
        height: 100%;
        //overflow: hidden;
    }

    .ContentContainer {
        position: absolute;
        width: 650px;
        top: 0;
        background: $pageBackground;
        z-index: 99999;
        transition: all 350ms ease-out;
        transform: translateX(0);
        &--zoomedOut {
            transform: translateX(0);
        }

        &--zoomedIn {
            transform: translateX(-100%);
        }

        &--right {
            right:0;
        }

        &--left {
            left: 0;
        }

    }
    .ContentContainer--right {
        &.ContentContainer--zoomedIn {
            transform: translateX(100%);
        }
    }

    .ImageCaption {
        margin-top: 80px;
        text-align: right;
    }
}
