@import "../../variables";
@import "Page";

.PageImage {
    .ImageContainer {
        width: 100%;
        height: 100%;
        //overflow: hidden;
    }

    .ContentContainer {
        position: absolute;
        width: 650px;
        left: 0;
        bottom: 0;
        background: $pageBackground;

        transition: transform 350ms ease-out;
        &--zoomedOut {

        }

        &--zoomedIn {
            transform: translateX(-100%);
        }

    }

    .ImageCaption {
        margin-top: 80px;
        text-align: right;
    }
}
