@import "../../variables";
@import "Page";

.PageModel {
    background-color: black !important;
    display: flex;
    flex: 0 0 100%;

    .ModelViewer {
        width: 1180px;
        height: 980px;
        position: relative;
        display: inline-block;
    }

    .ModelControls {
        text-align: center;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1180px;
        height: 100px;

        display: flex;
        flex-direction: row;

        background-color: rgb(0,0,0);

        animation: enterFromBottom .6s;

        .ZoomControls {
            margin: 0 auto;
            padding: 20px 0px;
            max-width: 500px;
        }

        > .Button {
            background-color: $black;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .ModelText {
        width: calc(1920px - 1280px);
        height: 100%;
        position: absolute;
        background: $pageBackground;
        right: 0;
        margin-right: 100px;
        overflow: hidden;

        > div {
            padding: 80px;
            height: 100vh;

            h2 {
                font-size: 2.5rem;
                margin-bottom: 25px;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 15px;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}
