@import "../../variables";
@import "Page";

.PageModel {
    background-color: black !important;
    display: flex;
    flex: 0 0 100%;

    .ModelViewer {
        width: 1170px;
        height: 1080px;
        position: relative;
        display: inline-block;
    }

    .ModelControls {
        text-align: center;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1170px;
        height: 100px;

        display: flex;
        flex-direction: row;

        background-color: #111111;
        opacity: 0.8;

        animation: enterFromBottom .6s;

        .ZoomControls {
            position: relative;
            margin: 0 auto;
            padding: 20px 0;
            max-width: 500px;
            background-color: #111111;
        }

        > .Button {
            background-color: #111111;
            background-repeat: no-repeat;
            background-position: center center;
            &.Button--icon-rotate {
                font-size:50px;
            }
            &.Button--text {
                padding-right:20px;
            }
        }
    }

    .ModelText {
        width: calc(1920px - 1170px);
        height: 100%;
        position: absolute;
        background: $pageBackground;
        right: 0;
        overflow: hidden;

        > div {
            padding: 100px 180px 80px 80px;
            height: 100vh;
            position: relative;

            h2 {
                font-size: 2.5rem;
                font-weight: 200;
                color: $red;
                margin-bottom: 20px;
            }

            p {
                font-size: 22px;
                line-height: 36px;
                margin-bottom: 20px;
                

                div {
                    position: absolute;
                    bottom: 59px;
                    width: 490px;
                    text-align: left;
                    &.image-credit  {
                        position: relative;
                        bottom:auto;
                        width:auto;
                        font-size:20px;
                        p {
                            font-size:20px;
                            line-height:22px;
                            &:first-child {
                                margin-bottom:10px;
                            }
                            small {
                                font-size:16px;
                            }
                        }
                    }
                    img {
                        max-height: 368px;
                        max-width: 490px;
                        margin-bottom: 16px;
                    }

                    p {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }
}
