@import "../../variables";
@import "../portrait/components/Page";

.Page {
    //position: absolute;
    //top: 0;
    //left: 0;
    position: relative;
    background: $pageBackground;
    //background: red;

    width: 100%;
    height: 1080px;

    //padding-right: 100px;

    flex: 0 0 auto;

    overflow: hidden;



    .Article--fullScreen & {
        //padding-right: 0;
    }

    .Image {
        width: 100%;
        height: 100%;
    }
}



.ContentContainer {
    padding: 100px 80px;
    font-family: $fontLight;

    h2 {
        color: $red;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 40px;
        font-weight:100;
    }

    p {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }
}

.ImageCaption {
    h3 {
        text-transform: none;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 28px;
    }

    p {
        font-size: 16px;
        margin-bottom:0;
    }
}








