@import "../../variables";
@import "Page";

.PageTextImage {

    display: flex;
    flex: 0 0 100%;

    background: green;

    .ImageContainer {
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all $transitionTime-showContent ease-out;
        position: absolute;
    }

    .ContentContainer {
        width: 50%;
        height: 100%;
        position: absolute;
        padding-top: 130px;
        background: $pageBackground;
        right: 0;
    }

    .ImageCaption {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 80px;
        font-size: 22px;
        //flex: 0 0 auto;

    }

    &--left {

        .ImageContainer {

        }

        .ContentContainer {
            right: 0;
            left: 50%;
            transition: left $transitionTime-showContent ease-out;
        }
    }

    &--right {
        .ImageContainer {
            //order: 1;
            left: 50%;
        }

        .ContentContainer {
            //order: 0;
            //right: auto;
            left: 0;
            transition: left $transitionTime-showContent ease-out,
        }

        .ImageCaption {
            left: auto;
            right: 80px;
            text-align: right;
        }
    }

    &--imageFull {
        .ImageContainer {
            width: 100%;
            height: 100%;
            //position: absolute;
            left: 0;
        }

        .ContentContainer {
            //position: absolute;
            height: 100%;
        }
    }

    &--left.PageTextImage--imageFull {
        .ContentContainer {
            left: 100%;
        }
    }

    &--right.PageTextImage--imageFull {
        .ContentContainer {
            left: -50%;
        }
    }

}
