@import "../../variables";
@import "Page";
@import '../portrait/components/TextImage';

.dateCircle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    background: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.8em;
    margin-top: -50px;
}

.portrait {
    .dateCircle {
        margin-top: -100px;
    }

    .PageTitle__Content {
            bottom:200px; 
    }
}

.dateLine {
    width: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0%;
    background: $red;
    z-index: 99;
    margin-left: -5px;
    transition: all 0.3s;
}

.PageTextImage {

    display: flex;
    flex: 0 0 100%;

    background: green;

    .ImageContainer {
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all $transitionTime-showContent ease-out;
        position: absolute;
    }

    .ContentContainer {
        width: 50%;
        height: 100%;
        position: absolute;
        padding-top: 130px;
        background: $pageBackground;
        right: 0;
    }

    .ImageCaption {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 80px;
        font-size: 22px;
        //flex: 0 0 auto;
        max-width: 750px;

    }

    &--left {

        .ImageContainer {

        }

        .ContentContainer {
            right: 0;
            left: 50%;
            transition: left $transitionTime-showContent ease-out;
        }
    }

    &--right {
        .ImageContainer {
            //order: 1;
            left: 50%;
        }

        .ContentContainer {
            //order: 0;
            //right: auto;
            left: 0;
            transition: left $transitionTime-showContent ease-out,
        }

        .ImageCaption {
            left: auto;
            right: 80px;
            text-align: right;
        }
    }

    &--imageFull {
        .ImageContainer {
            width: 100%;
            height: 100%;
            //position: absolute;
            left: 0;
        }

        .ContentContainer {
            //position: absolute;
            height: 100%;
        }
    }

    &--left.PageTextImage--imageFull {
        .ContentContainer {
            left: 100%;
        }
    }

    &--right.PageTextImage--imageFull {
        .ContentContainer {
            left: -50%;
        }
    }

}
