@import "../../variables";
@import "../pages/Audio.scss";

.PageTextVideo {
    .sourceTextContainer {
        &.closed {
            .transcript {
                margin-top:0px;
                animation: audioHideInitiallyFadeInAnimation 1s ease;
            }
        }
        &.audioFadeIn {
            .transcript {
                margin-top:50px;
                animation: audioShowFadeInAnimation 1s ease;
            }
        }
    }
}
.landscape {
    .PageTextVideo {
        .ImageCaption {
            display:none;
        }
        .poster {
            display:flex;
            &:after {
                bottom:0;
                top:100%;
                left:0;
                margin-left:0;
                margin-top:-140px;
                position:absolute;
            }
        }
        .ImageContainer {
            width: 100%;
            padding-right:100px;
            transition: all 0.3s;
        }
        .ContentContainer {
            position:absolute;
            z-index:12;
            height:auto;
            width: 750px;
            transition: transform 0.5s ease;
            transform: translateX(0px);
            padding-right: 200px;
            padding-bottom:100px;
            padding-top:100px;
            .ContentContainer__play {
                font-size:26px;
                font-weight:300;
                display:flex;
                align-items: center;
                padding:0;
                margin:0;
                margin-top:50px;
                -webkit-appearance: none;
                font-family: $fontLight;
                background-color:transparent;
                border:0;
                transition: all 0.3s;
                &:active {
                    transform: scale(1.2);
                }
                &:before {
                    content: " ";
                    display: block;
                    width: 45px;
                    height: 44px;
                    background: url('../../../images/Buttons/Video/Play.svg') no-repeat;
                    background-size: contain;
                    position: relative;
                    background-color: transparent;
                    margin-right:20px;
                }
            }
        }
        &.open {
            .ImageContainer {
                padding-right:0;
            }
            .ContentContainer {
                transform: translateX(750px);
            }
        }
        .transcriptBtn, .transcript {
            display:none;
        }
    }
}

@keyframes animateButtonPoster {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.portrait {
    .PageTextVideo {
        .kioskControlBar {
            .close {
                display:none;
            }

        }
        .ContentContainer {
            .ContentContainer__play {
                display: none;
            }
        }
        button.poster {
            z-index:1;
            span.play {
                top: -300px;
                animation: animateButtonPoster 2s ease-out;
                animation-delay: 0s;
                background-image: url('../../../images/Buttons/Video/PlayHero/Audio.svg');
                border-radius:50%;
                height:140px;
                background-size:100%;
                background-color: rgba(0,0,0,0);
            }
        }
        .transcriptBtn {
            background: rgba(0,0,0,0.1);
            border:0;
            height:30px;
            margin-left:0px;
            font-size:20px;
            font-family: $fontMedium;
            &.open {
                background: rgba(0,0,0,1);
                color: #fff;
            }
        }
        .transcript {
            display:block;
            transition: all 0.5s;
            margin-top:20px;
            font-size: 22px;
            line-height: 32px;
            position:relative;
            width:650px;
            button {
                transition: all 0.3s;
                &:active {
                    transform: scale(1.2);
                }
                &.perfectScrollDown {
                    &:active {
                        transform: scale(1.2) rotate(180deg);
                    }
                }
            }
            .perfectScrollUp {
                margin-top: -60px;
            }
            .perfectScrollDown {
                margin-top: 10px;
            }
            .scrollbar-container {
                margin-top:30px;
                height: 300px;
                opacity:1;
                background: transparent;
                .content {
                    padding-right:30px;
                }
                .ps__rail-y {
                    opacity:1 !important;
                    background:rgba(0,0,0,0.2);
                    width:5px;
                }
                .ps__thumb-y {
                    opacity:1;
                    background: rgba(0,0,0,1);
                    width:5px;
                    right:0;
                }
                .scrollbar {
                    background: #000;
                }
            }
        }
    }
}