@import "../../variables";
@import "Page";

.PageTitle {
    img {
        //osition: absolute;
        width: 100%;
        height: 100%;
    }

    .Image {
        background-size:cover;
    }

    &__Content {
        position: absolute;
        bottom: 100px;
        left: 100px;
        width: 1060px;
        color: white;
        h1 {
            font-size: 76px;
            max-width:850px;
        }
        h3 {
            text-transform: none;
            font-weight:300;
            text-align:left;
            font-size:26px;
            padding-top:55px;
            max-width:850px;
            line-height:32px;
        }
    }
}
