@import "../../variables";
@import "Page";
@import "~video-react/styles/scss/video-react";

.PageVideo {
    background-color: black !important;
    video {
        width: 100%;
        height: 100%;
    }

    .kioskPlayerControl {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;

        width:100px;
        height:100px;

        text-indent: -999999px;

        transition: all 0.3s;

        &.start {
            order:0;
        }
        &.end {
            order:10;
        }

        &.subtitles {
            background-image: url("../../../images/Buttons/Subtitles/Default.png");
        }
        &.bsl {
            background-image: url("../../../images/Buttons/BSL/Default.png");
        }
        &.close {
            background-image: url("../../../images/Buttons/Close/Default.png");
        }

        &:active {
            transform: scale(1.1);
        }
    }

    .video-react {
        padding-top: 0 !important;
        height:100%;
        .video-react-control-bar {
            height:100px;
            background: rgba(0,0,0,0.7);
            .video-react-volume-menu-button {
                display:none;
            }
            .video-react-control {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                &.video-react-play-control {
                    &:before {
                        display:none;
                    }
                    width:100px;
                    background-image: url("../../../images/Buttons/Play/Default.png");
                    &.video-react-playing {
                        background-image: url("../../../images/Buttons/Pause/Default.png");
                    }
                    &:active {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .video-react-icon-fullscreen {
        display:none;
    }

    .video-react-time-control {
        display:none;
    }
}
